.auth-page{
  background: linear-gradient(120deg, #DBE6F3 60%, #A1C5F9 82%);
  min-height: 100vh;
}

/*NAVBAR START*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #66a3ff;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #3385ff;
}
.active {
  background-color: #1890ff;
}

/*NAVBAR END*/
